#header {
    height: 50vh;
    background-size: cover;
    background-image: url('/storage/app/public/img/top_main_0322_1.jpg');
    background-position: center center;
    padding-top: 1rem;

    .icon-wrapper {
        @include site-icon(2.5rem, 2.5rem, 2rem);
    }
}
